@charset "utf-8";

/*-----------------------------

　リセットCSS + サイト共通設定

------------------------------*/

/* 全ての要素に対する余白初期値設定 */
body,
h1,h2,h3,h4,h5,h6,
p,ul,ol,dl,dt,dd,li,
table,th,td,
form,select,option,input
address,pre,strong,em,iframe,img{
	margin:0;
	padding:0;
	font-size:100%;
	border:0;
}

/* デフォルト文字設定 */
body{
	color:#666666;
	font-family:sans-serif;
	font-size:13px;
	*font-size:small;
	line-height:1.4;
}

/* リストマーカーを非表示 */
ul,ol{
	list-style-type:none;
}

/* テーブルセルのボーダーの設定 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 画像とフォームパーツの上下位置をテキストの真ん中に */
img, input, select, textarea {
	vertical-align: middle;
}


/* デフォルトリンク色の設定 */
a{
     color:#8AF97C;
}

a:hover{
    color:#B7F7AF;
}

/* 画像リンクの設定
a img{
	opacity:1;
	filter: alpha(opacity=100);
}

a:hover img{
	opacity:0.7;
	filter: alpha(opacity=75);
}
 */

/*	clearfix
------------------------------*/
.clearfix:after {/*for modern browser*/
   content: "";
   display: block;
   clear: both;
}

* html .clearfix { zoom:1; } /*for IE6*/
*:first-child+html .clearfix { zoom:1; } /*for IE7*/


/*--------------------------

　レイアウト

---------------------------*/
body{
   // border-top:#cce739 5px solid;
    // background-color:#D1FCD6;
		// background-color:#F5D18A;
     //  position:relative;
     width:1350px;

}

#wrap{
    //width:1280px;
    width:100%;
   // height:685px;
    position:relative;
    overflow:hidden;
      margin:0 auto;
   // background-color:#0f0;
   // border:#fff 3px solid;
}
#le_inner{
    //float:left;
     position:fixed;
     top:0;
     left:0;
    width:182px;
   // height:2500px;
    height:100%;
 //   background-color:#E2FDD1;
    //position:relative;
}

#ri_inner{
    float:right;

    width:1168px;
		  height:100%;
    /*height:2500px;

  //  padding:20px;
  //  margin:0 auto;

  //  background-color:#E0FDDD;
//background-color:#9CE159;
//background-color:#93DF5D;
//background-color:#B7FDA9;
//background-color:#E2FDD1;*/
background-color:#fff;

}

/* グローバルナビゲーション
---------------------------*/
#gnav{
   // float:left;
  /* width:192px;
   position:fixed;
   top:0;
   left:0*/
   position:relative;
  /* left:0;
  //  top:0;
   // border:#fff;
   // background-color:#B7F7AF;
   //background-color:#84F974;*/
   background-color:#8AF97C;
  //  border-right:#D1FCD6 3px solid;FDC354
		//border-right:#FDC354 3px solid;
   height:710px;
}

#gnav h2{
   // background-color:#ff0;
    position:absolute;
    top:40px;
    left:10px;

}
#gnav ul{
     //position:absolute;
     padding-top:165px;
	width:182px;
//	margin:0 ;
//	background-color:#fff;
}
#gnav li{
    border-bottom:#CEF9C3 1px solid;
   // margin-right:-10px;
   // margin-left:-10px;
}
.gnav01{
   // margin-top:180px;
    border-top:#CEF9C3 1px solid;
}



#gnav a{
	display:block;
//	width:180px;
	height:25px;
	font-weight:bold;
	font-size:140%;
	text-align:left;
	padding:20px 15px;
	text-decoration:none;
	//	background:url(../img/gnav.gif) no-repeat;
	//	border-left:#B7F7AF 5px solid;
	background:url(../img/mark5.png) right center no-repeat;
	color:#fff;
}
#gnav a:hover{
    //	color:#CCE739;
//    	background-color:#CEF9C3;
	background-color:#B7F7AF;
}

/*
#gnav .gnav01 a { background-position:0 0; }
#gnav .gnav02 a { background-position:-156px 0; }
#gnav .gnav03 a { background-position:-313px 0; }
#gnav .gnav04 a { background-position:-470px 0; }
#gnav .gnav05 a { background-position:-627px 0; }
#gnav .gnav06 a { background-position:-784px 0; }

#gnav .gnav01 a:hover { background-position:0 -40px; }
#gnav .gnav02 a:hover { background-position:-156px -40px; }
#gnav .gnav03 a:hover { background-position:-313px -40px; }
#gnav .gnav04 a:hover { background-position:-470px -40px; }
#gnav .gnav05 a:hover { background-position:-627px -40px; }
#gnav .gnav06 a:hover { background-position:-784px -40px; }

.home #gnav .gnav01 a {background-position:0 -80px; }
.about #gnav .gnav02 a {background-position:-156px -80px; }
.coding #gnav .gnav03 a {background-position:-313px -80px; }
.lesson #gnav .gnav04 a {background-position:-470px -80px; }
.faq #gnav .gnav05 a {background-position:-627px -80px; }
.inquiry #gnav .gnav06 a {background-position:-784px -80px; }
*/


/* ヘッダー
---------------------------*/

#header{

   // width:1153px;
    width:100%;
    height:707px;
    margin-bottom:10px;
    //padding:10px 0;
    overflow:hidden;
    position:relative;
    background-color:#000;
  //  border-bottom:#FDC354 7px dotted;
   // border-top:#00c4ab 5px solid;
   // background:url(../img/topbg.png) all-repeat;
}

#header img{
opacity: 0.8;
}
#header h1 {
    position:absolute;
    //left:200px;
  //  top:30%;
	left:780px;
	top:10%;
color:#fff;
	//	text-decoration:underline;
	//text-decoration-color: #8AF97C;
//border-bottom: #8AF97C 2px solid;
    font-size:400%;
}
#header h1 p{
	//color:#fff;
	//padding-bottom: -20px;
	//margin: -10px;
	height: 65px;
	border-bottom: #8AF97C 4px solid;
}

#header h2{
	position:absolute;
	left:280px;
	top:53%;
	font-size:250%;
	//background-color:#8AF97C;
	color:#fff;
}

#header h3{
	position:absolute;
	left:480px;
	top:73%;
	width: 150px;
	background-color: rgba(255, 255, 255, .2);
	border-radius: 18px;
	//color:#fff;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .7);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}
#header h3:hover {
	background-color: rgba(255, 255, 255, .3);
}

#header a{
color:#fff;
text-decoration: none;

	//opacity: 1.0;
}

#header h4{
	position: absolute;
	top: 95%;
	left: 540px;
	//padding: 10px;
}
/*#header p{
	position:absolute;
	left:480px;
	top:73%;
//background-color:#8AF97C;
	background-color:#000;
		opacity: 0.1;

	//border:#8AF97C 2px solid;
}*/

/*		text-decoration:none;
	font-size: 150%;
	//font-weight: bold;
	color: #fff;
	//color: #8AF97C;
}*/

/*#header p:hover{
	background-color:#fff;
		opacity: 0.4;
	//border:#fff 2px solid;
}*/


/*index.html*/

#main1{
//	width: 1050px;
//width: 100%;
	height: 100%;
	//margin:50px;
	padding: 50px;
	padding-top: 100px;
	//padding-bottom:30px;
	margin-bottom: 60px;
	overflow: hidden;
//	border-bottom: #FDC354 8px dotted;
	//background-color: #EFFDEA;
}

#main1 li{
	position: relative;
	height: 445px;
	width: 315px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: #FDC354 4px solid;
}

#main1 img{
	border-bottom: #FDC354 10px solid;
	//margin-bottom: 40px;

	//opacity: 0.8;
		//display:block;
}

#main1 h2{
	font-size:180%;
	color: #8AF97C;
	color: #FDC354;
	color: #000;
	border-bottom: #FDC354 4px dotted;
	font-weight: bold;
	text-decoration: none;
	//margin-bottom: 20px;
	padding-bottom: 3px;
	padding-top: 40px;
}

#main1 p{
	padding:20px 10px;
	font-size: 130%;
}
#main1 a{
	color: #000;
	text-decoration: none;
}

#main1 li:hover{
opacity: 0.5;

}

/*.iicon{
	//color: #000;
	width: 100px;
	position:absolute;
	bottom: 5%;
	left:215px;
	padding-left: 30px;
	 background:url(../img/inmark.png)left center no-repeat;
}*/

#shinkan {
	float: left;

	/*position: relative;
	//margin-right: 0px;
	//background-color: #000;
	//margin-bottom: 80px;
*/
}



#igroup {
	float: left;
	margin-left: 54px;
/*	position: relative;
//	background-color: #000;
//	margin-bottom: 80px;
	//padding-bottom: 100px;*/
}



#ievent {
	float: right;
/*	position: relative;
	//margin-right: 0px;
	background-color: #000;
	margin-bottom: 80px;*/

}

/* main2 */
#main2 {
	width: 100%;
	height: 600px;
	position: relative;
	background-color: #E1F5E4;
}

#noti{
    float:left;
    width:400px;
    position: absolute;
		top:15%;
		left:80px;
    padding:30px 40px;
    background-color:#fff;
    //border:#8AF97C 8px solid;
}

#noti h3{
    padding-bottom:20px;
    border-bottom:#FDC354 4px dotted;

    font-size:150%;

    color:#2AC42A;

}
#noti ul{
   // padding:20px;
overflow:hidden;
}

#noti li{
    float:left;
    padding:20px;
    border-bottom:#FDF3AA 1px dotted;

}

#noti a{
    color:#8AF97C;
    text-decoration:none;
    font-size:130%;
    text-align:center;
}

#recent{
width: 450px;
	height: 435px;
	position: absolute;
	top: 15%;
	left: 660px;
	background-color: #fff;
}

#recent img{

}

#recent h2{
	font-size: 180%;
	margin: 10px;
	color: #2AC42A;
	border-bottom:#FDC354 4px dotted;
}

#recent p{
	padding: 5px;
	padding-left: 25px;
}
#recent .date{
	color: #000;
}

#recent .subtitle{
	color: #8AF97C;
}

#contact{
    float:right;
}


/* コンテンツエリア
---------------------------*/
/*#contents{
	width:900px;
	padding:10px 20px 0 20px;
	margin:0 auto;
	border-left:#e6e6e6 1px solid;
	border-right:#e6e6e6 1px solid;
}*/



/*--------------------------

　共有スタイル

---------------------------*/

/* メインコンテンツ
---------------------------*/
#main{

   // width:1153px;
    width:100%;
    height:100%;
    //margin:0 auto;
    margin:50px;
    padding:10px 0;
    overflow:hidden;
    position:relative;
    background-color:#fff;
  //  border-bottom:#FDC354 7px dotted;
   // border-top:#00c4ab 5px solid;
   // background:url(../img/topbg.png) all-repeat;
}
/*#main{
    width:95%;
    margin:0 auto;
     padding:10px 0;
   // overflow:hidden;
    position:relative;
//	margin:40px;
	//	float:right;
//	 border:#000000 8px solid;
} */

#about{
    width:1050px;
}

/*ページ大見出し*/

#main h2{
	margin-bottom:30px;
}

/*段落スタイル*/
#main h3{
    margin-bottom:15px;
    margin-left:20px;
    padding:10px;
    width:940px;
    height:30px;
    font-size:200%;
  //  background-color:#E5FCE0;
    border-left:#FFC057 8px solid;
}
#main p{
    margin:0 40px 20px 35px;
    font-size:140%;
    //width:400px;
}

/*アイコンリンク*/
.icon{
    text-align:right;

}

.icon a{
    padding-right:30px;
    padding-left:10px;
   // background:url(../img/ico_arw02.gif) left center no-repeat;
    text-decoration:none;
}

.icon a:hover{
   border-bottom:#B7F7AF 2px solid;
}



/* パンくず
---------------------------*/
#pankuzu{
	margin-bottom:30px;
	padding-bottom:10px;
	border-bottom:#ccc 1px dotted;
}

#pankuzu li{
	display:inline;
	font-size:83%;
}

#pankuzu a{
	padding-right:15px;
	background:url(../img/ico_arw01.gif) right center no-repeat;
}



/* フッター
---------------------------*/
/* ページトップ */


#footer{
	//padding:10px 0;
	width: 100%;
	height: 190px;
	position: relative;
	background-color:#8AF97C;
	color: #fff;
}

#footer h2{
	position: absolute;
	top: 19%;
	left: 75px;
	font-size: 270%;


}

#footer h3{
	position: absolute;
	top: 48%;
	left: 70px;
	font-size: 110%;
	padding-left: 10px;
border-left: #fff 3px solid;
}

#pagetop {
position: absolute;
top: -25px;
left:555px;
//width: 70px;
background-color: #fff;
padding: 10px 20px;
border-radius: 18px;
}

#pagetop img{
	//padding: 10px;
	//background-color: #fff;
}
#pagetop a{
	font-size: 120%;
	color: #8AF97C;
}


#info{
	position: absolute;
	top: 46%;
	left: 300px;
	width: 300px;
}

#info h4{
	font-size: 115%;
//	padding: 5px;
}
#info dl{
	//overflow: hidden;
	font-size: 100%;
	font-weight: bold;
}
#info dt{
	float: left;
	clear: both;
	margin: 1px;
	//padding-left: 10px;
}

#info dd{
	float: left;
	margin: 1px;

}
#copyright{
	position: absolute;
	top:75%;
	right: 50px;
	font-size:93%;
}

/*#footer .inner{
	width:940px;
	margin:0 auto;
	overflow:hidden;
}

#footer ul{
	float:left;
}

#footer li{
	display:inline;
}

#footer a{
	padding:0 10px;
	background:url(../img/ico_arw01.gif) left center no-repeat;
	color:#666;
	text-decoration:none;
}

#footer a:hover{
	text-decoration:underline;
}*/
