@charset "utf-8";

/*-----------------------------

　リセットCSS + サイト共通設定

------------------------------*/

/* 全ての要素に対する余白初期値設定 */
body,
h1,h2,h3,h4,h5,h6,
p,ul,ol,dl,dt,dd,li,
table,th,td,
form,select,option,input
address,pre,strong,em,iframe,img{
	margin:0;
	padding:0;
	font-size:100%;
	border:0;
}

/* デフォルト文字設定 */
body{
	color:#666666;
	font-family:sans-serif;
	font-size:13px;
	*font-size:small;
	line-height:1.4;
}

/* リストマーカーを非表示 */
ul,ol{
	list-style-type:none;
}

/* テーブルセルのボーダーの設定 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 画像とフォームパーツの上下位置をテキストの真ん中に */
img, input, select, textarea {
	vertical-align: middle;
}


/* デフォルトリンク色の設定 */
a{
     color:#8AF97C;
}

a:hover{
    color:#B7F7AF;
}


/*	clearfix
------------------------------*/
.clearfix:after {/*for modern browser*/
   content: "";
   display: block;
   clear: both;
}

* html .clearfix { zoom:1; } /*for IE6*/
*:first-child+html .clearfix { zoom:1; } /*for IE7*/


/*--------------------------

　レイアウト

---------------------------*/
body{
     width:1350px;

}

#wrap{
    width:100%;
    position:relative;
    overflow:hidden;
      margin:0 auto;
}
#le_inner{
     position:fixed;
     top:0;
     left:0;
    width:182px;
    height:100%;
}

#ri_inner{
    float:right;
    width:1168px;
		height:100%;
		background-color:#fff;

}

/* グローバルナビゲーション
---------------------------*/
#gnav{
   position:relative;
	 background-color: #1BCF02;
   height:710px;
}

#gnav h2{
    position:absolute;
    top:25px;
    left:10px;
}

#gnav img{
	border-radius: 5px;
}

#gnav ul{
  padding-top:165px;
	width:182px;
}

#gnav li{
    border-bottom:#CEF9C3 1px solid;
}

.gnav01{
    border-top:#CEF9C3 1px solid;
}

#gnav a{
	display:block;
	height:25px;
	font-weight:bold;
	font-size:140%;
	text-align:left;
	padding:20px 15px;
	text-decoration:none;
	background:url(../img/mark5.png) right center no-repeat;
	color:#fff;
}

#gnav a:hover{
	 background-color: #69F97C;
}

/* ヘッダー
---------------------------*/

#header{
    width:100%;
    height:707px;
    margin-bottom:10px;
    overflow:hidden;
    position:relative;
    background-color:#000;
}

#header img{
opacity: 0.8;
}

#header h1 {
    position:absolute;
		left:780px;
		top:10%;
		color:#fff;
    font-size:400%;
}

#header h1 p{
	height: 65px;
	border-bottom: #8AF97C 4px solid;
}

#header h2{
	position:absolute;
	left:280px;
	top:53%;
	font-size:250%;
	color:#fff;
}

#header h3{
	position:absolute;
	left:480px;
	top:73%;
	width: 150px;
	background-color: rgba(255, 255, 255, .2);
	border-radius: 18px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .7);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}

#header h3:hover {
	background-color: rgba(255, 255, 255, .3);
}

#header a{
color:#fff;
text-decoration: none;
}

#header h4{
	position: absolute;
	top: 95%;
	left: 540px;
}

/*index.html*/

#main1{
	height: 100%;
	padding: 50px;
	padding-top: 100px;
	margin-bottom: 60px;
	overflow: hidden;
}

#main1 li{
	position: relative;
	height: 445px;
	width: 315px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: #FDC354 4px solid;
}

#main1 img{
	border-bottom: #FDC354 10px solid;
	//margin-bottom: 40px;

	//opacity: 0.8;
		//display:block;
}

#main1 h2{
	font-size:180%;
	color: #8AF97C;
	color: #FDC354;
	color: #000;
	border-bottom: #FDC354 4px dotted;
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 3px;
	padding-top: 40px;
}

#main1 p{
	padding:20px 10px;
	font-size: 130%;
}
#main1 a{
	color: #000;
	text-decoration: none;
}

#main1 li:hover{
opacity: 0.6;
}

#shinkan {
	float: left;
}

#igroup {
	float: left;
	margin-left: 54px;
}

#ievent {
	float: right;
}

/* main2 */

#main2 {
	width: 100%;
	height: 600px;
	position: relative;
	background-color: #E1F5E4;
}

#noti{
    float:left;
    width:400px;
    position: absolute;
		top:15%;
		left:80px;
    padding:30px 40px;
    background-color:#fff;
}

#noti h3{
    padding-bottom:20px;
    border-bottom:#FDC354 4px dotted;
    font-size:150%;
    color:#2AC42A;
}

#noti ul{
overflow:hidden;
}

#noti li{
    float:left;
    padding:20px;
    border-bottom:#FDF3AA 1px dotted;
}

#noti a{
    color:#8AF97C;
    text-decoration:none;
    font-size:130%;
    text-align:center;
}

#recent{
	width: 450px;
	height: 435px;
	position: absolute;
	top: 15%;
	left: 660px;
	background-color: #fff;
}

#recent img{

}

#recent h2{
	font-size: 180%;
	margin: 10px;
	color: #2AC42A;
	border-bottom:#FDC354 4px dotted;
}

#recent p{
	padding: 5px;
	padding-left: 25px;
}
#recent .date{
	color: #000;
}

#recent .subtitle{
	color: #8AF97C;
}

#contact{
    float:right;
}


/* コンテンツエリア
---------------------------*/
/*#contents{
	width:900px;
	padding:10px 20px 0 20px;
	margin:0 auto;
	border-left:#e6e6e6 1px solid;
	border-right:#e6e6e6 1px solid;
}*/



/*--------------------------

　共有スタイル

---------------------------*/

/* メインコンテンツ
---------------------------*/
#main{            /*innerみたい*/
    width:100%;
    height:100%;
}

#about{
    width:100%;
		margin-bottom: 80px;
		padding: 100px 150px;
		background-color:#E2FFE1;
}

/*ページ大見出し*/
#main_logo{
	position: relative;
	background-color: #000;
}
#main_logo img{
	opacity: 0.8;
}
#main_logo h2{
	position: absolute;
	top:40%;
	left: 35%;
	font-size: 250%;
	color: #fff;
	font-weight: bold;
}

#main h2{
	padding: 40px;
	margin-left: 50px;
	margin-bottom:30px;
}

#about h3{
    margin-bottom:15px;
    margin-left:20px;
    padding:10px;
    height:30px;
    font-size:200%;
    border-left:#FFC057 8px solid;
}
#about p{
		padding-left:50px;
    font-size:140%;
    width:800px;
}

.active #about{
	background-color: #fff;
}

/*アイコンリンク*/
.icon{
    text-align:right;
		margin-bottom: 50px;
}

.icon a{
    padding-right:30px;
    padding-left:10px;
    text-decoration:none;
}

.icon a:hover{
   border-bottom:#B7F7AF 2px solid;
}



/* パンくず
---------------------------*/
#pankuzu{
	margin-bottom:30px;
	padding-bottom:10px;
	border-bottom:#ccc 1px dotted;
}

#pankuzu li{
	display:inline;
	font-size:83%;
}

#pankuzu a{
	padding-right:15px;
	background:url(../img/ico_arw01.gif) right center no-repeat;
}



/* フッター
---------------------------*/
/* ページトップ */


#footer{
	width: 100%;
	height: 190px;
	position: relative;
	background-color:#8AF97C;
	color: #fff;
}

#footer h2{
	position: absolute;
	top: 19%;
	left: 75px;
	font-size: 270%;


}

#footer h3{
	position: absolute;
	top: 48%;
	left: 70px;
	font-size: 110%;
	padding-left: 10px;
	border-left: #fff 3px solid;
}

#pagetop {
position: absolute;
top: -25px;
left:555px;
background-color: #fff;
padding: 10px 20px;
border-radius: 18px;
}

#pagetop img{

}
#pagetop a{
	text-decoration: none;
	font-size: 120%;
	color: #8AF97C;
}


#info{
	position: absolute;
	top: 46%;
	left: 300px;
	width: 300px;
}

#info h4{
	font-size: 115%;
}

#info dl{
	font-size: 100%;
	font-weight: bold;
}

#info dt{
	float: left;
	clear: both;
	margin: 1px;
}

#info dd{
	float: left;
	margin: 1px;

}
#copyright{
	position: absolute;
	top:75%;
	right: 50px;
	font-size:93%;
}
