@charset "utf-8";

#about {
//background-color: #FFF2D9;

}

#event{
width:1002px;
height:100%;
margin: 100px 90px;
background-image: url(../img/IMG_4763.jpg);
overflow:hidden;
}
#event li{
float:left;
height: 250px;
width: 334px;
opacity: 0.6;
}

#event a{
display: block;
  padding:105px 0;
font-size: 270%;
color: #fff;
text-align: center;
text-decoration: none;
font-weight: bold;

}
#event li:hover {
opacity: 1;
  color: #000;
}

#conpa,
#kouyama{
  background-color: #EB8A01;
}

#gasshuku,
#sotugyou{
  background-color: #EAAB08;
}

#seisou,
#boringu{
  background-color: #EABD37;
}
