@charset "utf-8";

/*-----------------------------

個別の装飾

------------------------------*/

/*
グローバルナビと#mainの隙間に謎の文字が.....
*/

/*
group.html
*/

#group{

}

#group li{
    width: 100%;
    height:360px;
    margin-bottom:80px;
    overflow:hidden;
}

#group img:hover{
  opacity: 0.8;
}

.grinner {
    padding:85px 170px;
    width:328px;
    height:360px;
    background-color:#8AF97C;
    color:#fff;
    overflow:hidden;
}

.grinner h4{
    float:left;
    font-size:190%;
    width: 200px;
    font-weight:bold;
}

.grinner h5{
    float:right;
    font-size:140%;
}

.grinner h6{
    float:left;
    margin: 15px 0 40px 0 ;
    height:20px;
    width:50px;
    border-bottom:#fff 2px solid;
}
.grinner p{
   float:left;
   padding-bottom: 20px;
   font-size: 130%;
   width:100%;
   height: 3em;
}

.grinner .icon{
    float: right;
    color: #fff;
    text-decoration: none;
    padding-left: 30px;
    font-size: 120%;
}

.grinner a:hover{
	text-decoration:underline;
}

/* 児童班 */
.zido .grinner{
  float:right;
}

.zido a{
    float:left;
}

.zido .icon {
     background:url(../img/l_grmark.png)left no-repeat;
}

/*　白川班　*/
.shirakawa .grinner{
    background-color:#FFC057;
    float:left;
}

.shirakawa a{
    float:right;
}

.shirakawa h6{
  margin-top: 50px;
}

.shirakawa p{
  margin-top: -20px;
}
.shirakawa .icon {
    margin-left:110px;
    background:url(../img/r_grmark.png)left no-repeat;
}

/* 聴言班 */
.chogen .grinner{
  float:right;
}

.chogen a{
    float:left;
}
.chogen .icon {
   background:url(../img/l_grmark.png)left no-repeat;
}

/*　保障班　*/
.hosho .grinner{
    float:left;
    background-color:#FFC057;
}

.hosho a{
    float:right;
}
.hosho .icon {
     margin-left:110px;
     background:url(../img/r_grmark.png)left no-repeat;
}

/*　生きがい班　*/
.ikigai .grinner{
  float:right;
}

.ikigai a{
    float:left;
}
.ikigai .icon {
   background:url(../img/l_grmark.png)left no-repeat;
}
