@charset "utf-8";
#main_ge{
 width:100%;
 padding: 130px;
 position: relative;
}

#logo_ge{
width: 100%;
height: 150px;
margin-bottom: 80px;
position: relative;
}

#logo_ge h2{
  color:#2EE402;
  font-size: 500%;
}

#logo_ge h4{
  position: absolute;
  height: 120px;
  top:0px;
  left:530px;

  opacity: 0.5;
  font-size: 800%;

  color: #B2E7AD;
  border-bottom: #B2E7AD 6px solid;
}
 .shira_logo #logo_ge h4{
   left:400px;
   font-size: 700%;
}

.choge_logo #logo_ge h4{
  left:480px;
}

.item_ge {
  margin-bottom: 70px;
}

.item_ge h3{
  margin: 40px 0 20px 50px;
  padding-left: 20px;
  padding-bottom: 5px;
  height:40px;
  font-size:250%;
  border-left:#2EE402 8px solid;
}
.item_ge p{
  width: 800px;
  font-size: 140%;
  height: 200px;
  padding-left: 70px;
}

#time_place p{
  padding-left: 33%;
}
/* ローカルナビゲーション
---------------------------*/
#lnav_ge{
    background-color: #fff;
}

#lnav_ge .pager{
  padding: 10px 136px;
  height: 30px;
  overflow: hidden;
  background-color: #EB8A01;
}

#lnav_ge .pager li{
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  padding: 3px;

}

#lnav_ge .pager li img{
  padding-bottom: 4px;
}

#lnav_ge .pager li a,
#lnav_ge .pager li em{
  font-size: 130%;
  padding: 6px;
  border: #EB8A01 1px solid;
}


#lnav_ge .pager li a:link,
#lnav_ge .pager li a:visited {
      color: #fff;
      text-decoration: none;
}
#lnav_ge .pager li a:hover,
#lnav_ge .pager li a:active {
      //color: #FF6633;
      border: #fff 1px solid;
      text-decoration: none;
}
#lnav_ge .pager li em {
      font-weight: bold;
      background-color: #fff;
      color: #EB8A01;
}

.prev img{
  margin-left: 100px;
}

#pagetop {     /*　横にずらした　*/
top: -75px;
left:1055px;

}
